.filter-container {
  width: 75vw;
  height: 13vh;
  border: 1px solid firebrick;
  border-radius: 10px;
  margin: 2rem auto;
}

@media (min-width: 1023px) {
  .filter-container {
    width: 33vw;
    height: 10vh;
    margin: 1rem;
    margin-left: 60vw;
    margin: 0 auto;
  }

  .Render-cards { 
    width: 900px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
   
  }

  input {
    margin-left: 1rem;
  }
}
